img {
    height: 490px;
}

.ctnr {
    /* border: 1px solid red; */
    width: max-content;
    margin: 0 auto;
}

.ctnr div {
    text-align: center;
}

.birthday-ctnr {
    padding-top: 15px;
    padding-bottom: 15px;
}
